.header_top {
	background: #0062CC;
	color: #fff;
	padding-top: 10px;
	/* height: 500px; */
}
.header_top .yewu {
	background: none !important;
	border: none !important;
	color: #fff !important;
}
.header_top .yewu li {
	border: none !important;
}
.header_top .mui-col-xs-2 {
	text-align: center;
}
.sousuo {
	display: flex;
	height: 30px;
	color: #ccc;
	justify-content: space-between;
}
.sousuo input{
	font-size: 14px;
	border: none;
	width: 70% !important;
	height: 100% !important;
}
.sousuo .mui-col-xs-8 {
	background: #fff;
}
.banner_mian {
	border: none;
}
.banner_mian li {
	border: none !important;
	overflow: none !important;
}
.banner_mian .mui-icon {
	font-size: 30px !important;
}
.jifen {
	box-sizing: border-box;
	background: #fff;
	padding: 10px 0 10px 60px;
}
.jifen li:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	background: #000000;
	border-radius: 50%;
	vertical-align: 2px;
	margin-right: 5px;
}
.jifen span {
	color: #aaa;
	font-size: 10px;
}
.jifen span a {
	color: #ccc !important;
}
.mui-slider {
	height: 60px ;
	width: 100%;
	margin:10px 0;
}
.mui-slider img {
	height: 60px;
}
.huizhifu {
	background: #fff;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 0 15px;
	overflow: hidden;
}
.huizhifu h2 {
	font-weight: bold;
	margin: 5px 0;
}
.huizhifu .huizhifu_banner {
	display: flex;
	border: 1px solid #ccc;
	padding: 15px 5px;
	justify-content: space-between;
}
.huizhifu .huizhifu_banner_right {
	flex: 1;
	background: url(../imgs/wifiapp_small.png) no-repeat 120px 0px;
}
.huizhifu .huizhifu_banner_left {
	flex: 1;
	background: url(../imgs/wifiapp_small.png) no-repeat 110px 0px;
	
}
.huizhifu .huizhifu_banner_right p ,.huizhifu .huizhifu_banner_right h3 {
	border-left: 1px solid #ccc;
	padding-left: 5px;
}
.huizhifu p {
	padding-top: 15px;
}